* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: rgb(147, 147, 222); */
}
html, body {
    height: 100%;
}

body {
    background: #222;
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    display: grid;
    grid-template-rows: auto 1fr auto;
}

nav {
    background: #f1f1f1;
    padding: 20px;
    text-align: center;
}

nav a {
    color: #222;
    text-decoration: none;
    margin-right: 10px;
}

.content {
    padding: 125px 50px 50px;
    background: rgb(104, 122, 177);
}

h1 {
    color: #f1f1f1;
    text-align: center;
}

footer {
    background: #f1f1f1;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

